<html>
  <head>
    <link rel="stylesheet" href="button.css">
  </head>

  <body>
    <style>
        .button { 
          height:30px;
          width:137px;
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          /* padding: 15px 80px; */
          text-align: center; 
          text-decoration: none;
          font-size: 16px;
          margin: 4px 4px;
          cursor: pointer;
       }
  
     </style>
  




    <main role="main" class="container">
      <button class="button" type="button" data-toggle="collapse" data-target="#collapseDebug"
      aria-expanded="false" aria-controls="collapseExample">
    <a class="button" href="http://127.0.0.1:5000/"
    target="_blank" role="button" type="button">
    Start
</a>
</button>
    </main>
  </body>
</html>